 #map {
     height: 500px;
 }

 #logo {
     width: 3rem;
 }

 .content p {
     padding: 0.5em;
     border: 1px solid black;
     word-wrap: break-word;
 }

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
     #map {
         width: 75%;
     }

  }

