{% extends "base.html" %}

{% block content %}


<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1>Giving Village</h1>
      <p class="lead text-muted">
          Reducing food insecurity and waste while increasing the abundance in our village.<br>
          Get what you need and give what you can.
      </p>
      <p>
        <a href="#" class="btn btn-primary my-2">Share a Resource</a>
        <a href="#" class="btn btn-secondary my-2">View All Resources</a>
      </p>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
              <img class="img-responsive" src="{{ url_for('static', filename='images/burnaby-community-fridge-final.jpg') }}">
            <div class="card-body">
              <h2 class="card-text text-center font-weight-light">Fridges</h2>
              <div class="d-flex justify-content-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-md btn-outline-secondary">Find</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
              <img class="img-responsive"  src="{{ url_for('static', filename='images/pantry1.jpg') }}">
            <div class="card-body">
              <h2 class="card-text text-center font-weight-light">Pantries</h2>
              <div class="d-flex justify-content-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-md btn-outline-secondary">Find</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
              <img class="img-responsive"  src="{{ url_for('static', filename='images/community.jpeg') }}">
            <div class="card-body">
              <h2 class="card-text text-center font-weight-light">Community Kitchens</h2>
              <div class="d-flex justify-content-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-md btn-outline-secondary">Find</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
              <img class="img-responsive"  src="{{ url_for('static', filename='images/shelter.jpeg') }}">
            <div class="card-body">
              <h2 class="card-text text-center font-weight-light">Shelters</h2>
              <div class="d-flex justify-content-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-md btn-outline-secondary">Find</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
              <img class="img-responsive"  src="{{ url_for('static', filename='images/library1.jpeg') }}">
            <div class="card-body">
              <h2 class="card-text text-center font-weight-light">Little Free Libraries</h2>
              <div class="d-flex justify-content-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-md btn-outline-secondary">Find</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>
    <footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
    <p>Giving Village is &copy; NwHacks - Web Legends</p>
      <p>Made with love by Jess, Kat, Antonio and Kaiti</p>
  </div>
</footer>
{% endblock %}